//-----------------------------------------------------------------------------------------------
  // Banners
//-----------------------------------------------------------------------------------------------

.banner-container {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 14.5rem;
  grid-column-gap: 2rem;
}

.banner {
  background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,.7)), url(../img/banner.jpg);
  background-size: 110%;
  background-position: 50% 12%;
  padding: 1rem;
  border-radius: 6px;
  box-shadow: $box-shadow;
  display: flex;
  flex-flow: column;
  justify-content: flex-end;
  transition: $transition-card;

  &:hover {
    box-shadow: 0 6px 6px 0 rgba(0,0,0,.32);
    transform: translate(0, -0.1rem);
  }

  &__title {
    font-size: 1.5rem;
    padding-bottom: .3rem;
  }

  &__text {
    font-family: 'Ubuntu';
    font-size: 0.875rem;
    color: rgba($white, .6);
  }
}