.slide {
  background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,.7)), url("https://steamcdn-a.akamaihd.net/steam/apps/311690/ss_0f64f96e400162810432f83efec29ebf06412b13.1920x1080.jpg?t=1575923806");
  background-size: 110%;
  background-position: 50% 12%;
  background-repeat: no-repeat;
  height: 40rem;
  padding: 1rem;
  margin-bottom: 2rem;
  border-radius: 6px;
  box-shadow: $box-shadow;
  display: flex;
  flex-flow: column;
  justify-content: space-between;

  &__title {
    font-family: 'Sarabun';
    font-size: 2rem;
    color: $white;
  }
}

.slide__controls {
  align-self: flex-end;
  display: flex;
}

.slide__content {
  display: flex;
  align-items: end;
}

.slide__data {
  width: 20%;
  display: flex;
  flex-flow: column;
  align-items: flex-end;
}

.slide__controls__button {
  background-color: $white;
  height: 0.75rem;
  width: 0.75rem;
  border-radius: 100px;
  margin: 0 .3rem;

  &--active {
    background-color: $color_primary;
  }
}

.slide__text, .slide__date {
  color: rgba($white, .6);
}

.slide__tag {
  background-color: $color_secondary;
  color: rgba($white, .7);
  padding: .2rem .4rem;
  border-radius: 6px;
  margin-bottom: 1rem;
}

.slide__icon {
  font-size: 0.75rem;
}