:root {
  --main-color : rgba(236,35,60,1);
  --secondary-color : rgba(43,45,66,1);
  --dark-color : rgba(8,7,8,.9);
  --transition-2: all .1s ease-in;
}

html {
  box-sizing: border-box;
  font-size: 100%;
}

/*
  Aparentemente esto es un poco mejor que aplicar box-sizing directamente 
  a todos los elemntos usando el selector *
*/

*, *::before, *::after {
  box-sizing: inherit;
}

/* Reset basico */
body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
}

/* Estilos generales */

body {
  background-color: #F8F6F6;
  font-family: 'Lato', sans-serif;
}

a {
  text-decoration: none;
  color: var(--secondary-color);
}

ul {
  list-style: none;
}

/* Demas estilos */

.container {
  max-width: 1300px;
  width: 90%;
  margin: 0 auto;
}

.nav {
  display: flex;
  justify-content: space-between;
  margin-top: 3rem;
}

.logo {
  color: var(--main-color);
  font-family: 'Blissful Thinking';
  font-size: 2.25rem;
}

.menu {
  width: 50%;
  display: flex;
  justify-content: space-between;
  font-weight: 700;
}

.menu--footer {
  width: 100%;
  justify-content: center;
}

.menu__item--footer {
  padding-right: 1rem;
}

.menu__link {
  padding: 1rem 0;
  transition: var(--transition-2);
  border-bottom: 1px solid transparent;
}

.menu__link:hover {
  color: var(--main-color);
  border-bottom: 1px solid var(--main-color);
}

.menu__item--line {
  opacity: 0.3;
}

.btn {
  align-self: flex-start;
  text-align: center;
  border-radius: 8px;
  transition: all .2s ease-in;
  cursor: pointer;
}

.btn--red-small {
  display: inline;
  padding: 0.5rem 1.6rem;
  background-color: var(--main-color);
  color: #fff;
}

.btn--red-small:hover, .btn--red-medium:hover {
  background-color: rgb(252, 77, 97);
  color: #fff;
}

.btn--red-medium {
  padding: 0.5rem 2rem;
  background-color: var(--main-color);
  color: #fff;
  transition: var(--transition-2);
}

.btn--red-big {
  align-self: center;
  width: 100%;
  padding: 0.8rem 2rem;
  border: 1px solid var(--main-color);
  color: var(--main-color);
}

.btn--red-big:hover {
  background-color: var(--main-color);
  color: #fff;
}

.btn--blue-big {
  padding: 1rem 3.5rem;
  border: 1px solid var(--secondary-color);
  font-weight: 700;
}

.btn--blue-big:hover {
  background-color: var(--secondary-color);
  color: #fff;
}

.btn--blue-medium {
  padding: 0.8rem 3.5rem;
  border: 1px solid var(--secondary-color);
  font-weight: 700;
}

.btn--blue-medium:hover {
  background-color: var(--secondary-color);
  color: #fff;
}

.header {
  display: flex;
  justify-content: space-between;
  margin-top: 5rem;
  margin-bottom: 3rem;
  height: 70vh;
}

.header__img {
  display: block;
  width: 45vw;
}

.header__img--reverse {
  order: 1;
}

.header__content {
  padding-right: 4rem;
  display: flex;
  flex-flow: column;
  justify-content: center;
}

.header__content--reverse {
  order: 2;
  padding-right: 0;
  padding-left: 4rem;
}

.header__title {
  font-family: 'Open Sans';
  font-size: 3.375rem;
  font-weight: 800;
  color: var(--dark-color);
  line-height: 1.1;
  margin-bottom: 1.5rem;
}

.header__title--small {
  color: var(--secondary-color);
  font-size: 2rem;
}

.header__text {
  color: var(--dark-color);
  margin-bottom: 2rem;
  font-size: 1.25rem;
  line-height: 1.5;
}

.header__text-small {
  font-size: 1.125rem;
  line-height: 1.3;
}

.box-braker {
  background-color: rgba(0,0,0,.05);
  padding: 2rem 0;
  margin-bottom: 5rem;
}

.box-braker__container {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.box-braker__container--domain {
  justify-content: space-around;
}

.box-braker__title {
  color: var(--secondary-color);
  font-size: 2rem;
}

.box-braker__input {
  border: none;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  font-family: 'Lato';
  font-size: 1rem;
  padding: 0.5rem 1rem;
  box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.2);
  flex: 1;
}

.box-braker__input--button {
  font-family: 'Lato';
  font-size: 1rem;
  font-weight: 700;
  border: none;
  border-radius: 0 4px 4px 0;
  box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.2);
  cursor: pointer;
}

.box-braker__flex {
  display: flex;
  width: 40%;
}

.section-title {
  font-size: 3rem;
  color: var(--secondary-color);
  padding-bottom: 4rem;
  text-align: center;
}

.cards {
  margin-bottom: 5rem;
}

.card-container {
  display: flex;
  justify-content: center;
}

.card {
  width: 25%;
  background-color: #fff;
  border-radius: 8px;
  padding: 3rem 2rem;
  margin-right: 2rem;
  box-shadow: 0px 3px 6px 0px rgba(0,0,0,.2);
  display: flex;
  flex-flow: column;
  align-items: center;
  transition: all .2s ease-out;
}

.card:hover {
  transform: scale(1.1, 1.1);
  box-shadow: 0px 3px 6px 0px rgba(0,0,0,.4);
}

.card--no-margin {
  margin: 0;
}

.card__title {
  color: var(--main-color);
  font-size: 1.5rem;
  padding-bottom: 1.5rem;
}

.card__disk-size {
  color: var(--secondary-color);
  font-size: 2rem;
  font-weight: 700;
  padding-bottom: 1.5rem;
}

.card__text {
  color: var(--secondary-color);
  text-align: center;
  opacity: .5;
  padding-bottom: 1rem;
}

.card__line {
  border: none;
  height: 1px;
  width: 100%;
  background-color: rgba(0,0,0,.2);
  margin-bottom: 1rem;
}

.card__list {
  width: 100%;
  color: var(--secondary-color);
  opacity: .8;
  padding-bottom: 1.5rem;
}

.card__list-item {
  padding-bottom: 0.6rem;
  display: flex;
  justify-content: space-evenly;
}

.fa-check {
  color: #149F22;
}

.card__price {
  color: var(--secondary-color);
  font-size: 1.75rem;
  padding-bottom: 2rem;
}

.footer {
  background-color: #f2f2f2;
  background-color: rgba(0,0,0,.05);
  padding: 3rem 0;
  display: flex;
  flex-flow: column;
  align-items: center;
}

.footer__copy {
  font-weight: 700;
  padding-bottom: 1rem;
}

@media screen and (max-width: 1100px) {

  .nav {
    flex-flow: column wrap;
    align-items: center;
  }

  .menu {
    width: 90%;
    padding-top: 2rem;
  }

  .menu__item {
    margin: 1rem 0;
  }

  .header__img {
    display: none;
  }

  .header {
    margin: 0;
  }

  .header__content--reverse {
    padding-left: 0;
  }

  .header__title {
    font-size: 3rem;
  }

  .header__title--small {
    font-size: 2rem;
  }

  .section-title {
    padding-top: 5rem;
  }

  .card {
    width: 30%;
    padding: 1.5rem;
  }

  .btn--red-big {
    padding: 0.8rem 2rem;
  }

  .box-braker {
    margin-bottom: 2rem;
  }

  .box-braker__container--domain {
    justify-content: space-between;
  }

  .box-braker__title {
    font-size: 1.5rem;
  }

  .box-braker__flex {
    width: 50%;
  }
}

@media screen and (max-width: 900px) {

  .menu {
    flex-flow: column;
    align-items: flex-end;
  }

  .menu__item--line {
    display: none;
  }

  .header {
    height: auto;
    margin-bottom: 3rem;
  }

  .header__content {
    padding-right: 0;
  }

  .header__title {
    font-size: 2rem;
  }

  .header__text {
    font-size: 1rem;
  }

  .section-title {
    font-size: 2rem;
  }

  .card-container {
    flex-flow: column;
    align-items: center;
  }

  .card {
    width: 70%;
    margin-bottom: 2.5rem;
    margin-right: 0;
  }

  .box-braker--logos {
    display: none;
  }

  .box-braker__container--domain {
    flex-flow: column;
    align-items: center;
  }

  .box-braker__title {
    padding-bottom: 1rem;
  }

  .box-braker__flex {
    width: 100%;
  }

  .btn--red-medium {
    padding: 0.5rem 1rem;
  }
}