//-------------------------------------------------------------------------------------------------
  // Colors
//-------------------------------------------------------------------------------------------------

// Color variables

$blue: #256EFF;
$black: #0F0F0F;
$black_lighther: #191919;
$grey: #272727;
$red: #CE2840;
$white: #ffffff;

// Color Configs

$color_bg: $black;
$color_primary: $blue;
$color_secondary: $black_lighther;
$color_highlight: $grey;

//-------------------------------------------------------------------------------------------------
  // Fonts
//-------------------------------------------------------------------------------------------------

$headings: "h1,h2,h3,h4,h5,h6";

//-------------------------------------------------------------------------------------------------
  // Layout
//-------------------------------------------------------------------------------------------------

$marpad_0: "margin: 0; padding: 0";

//-------------------------------------------------------------------------------------------------
  // Shadows
//-------------------------------------------------------------------------------------------------

$box-shadow: 0 3px 6px 0 rgba(0,0,0,.16);

//-------------------------------------------------------------------------------------------------
  // Responsive breakpoints
//-------------------------------------------------------------------------------------------------
$bp-desktop: 1280px;
$bp-max-tablet: 1124px;
$bp-min-tablet: 768px;
$bp-min-phone: 480px;