.nav {
   &__links li a {
      text-transform: uppercase;
   }
}

#nav-toggle {
   display: none;
}

.nav--user {
   background-color: $white;
   padding: 1rem 0;
   
   & .nav__links li a {
      color: $primary;
      font-size: .8rem;
      transition: color 0.2s ease-in-out;

      &:hover {
         color: $black1;
      }

      &:last-child {
         margin-left: 1rem;
      }
   }
}

.nav--main {
   background-color: $primary;
   text-transform: uppercase;
   font-weight: 700;
   padding: .6rem 0;

   & .nav__links li a {
      padding: 1rem 1.5rem;
      border-radius: 4px;
      transition: background-color 0.2s ease-in-out;

      &:hover {
         background-color: rgba(0,0,0,.2);
      }
   }

   & .logo {
      width: 90px;
      margin-right: 3rem;
   }
}

.nav--footer {
   color: $white;
   padding-bottom: 2rem;

   &__copy {
      color: rgba(255,255,255,.5);
   }

   & .nav__links {

      &--icons {
         font-size: 1.2rem;
      }
   }

   & .nav__links li a {
      text-transform: none;
      color: $yellow;
      margin-left: 1rem;

      &:hover {
         text-decoration: underline;
      }
   }

   & .nav__links--footer li a {
      margin-left: 2rem;
   }

   & .fa-caret-up {
      margin-left: .5rem;
   }
}