.dark-mode {
  background-color: $dark-1;
  color: $light-2;
}

.dark-icon {
  color: $light-2 !important;
}

.dark-mobile {
  background-color: $dark-2;
}

.dark-h1 {
  color: $light-1;
}

.dark-text {
  color: $light-2;
}

.dark-btn {
  border: 1px solid $light-2;
  color: $light-2;

  &:hover {
    background-color: $dark-2;
  }
}

.dark-btn--hightlight {
  background-color: $light-2;
  color: $dark-1;
}
