body {
  background-color: $light-1;
}

.body-shadow {
  background-color: rgba(0, 0, 0, 0.4);
}

::selection {
  color: #fff;
  background-color: rgba($dark-2, 1);
}

#app {
  margin-left: 1.25rem;
  margin-right: 1.25rem;
}

header {
  text-align: center;
}

hr {
  border: none;
  height: 1px;
  background-color: rgba($dark-1, 0.2);
  margin: 2rem 0;
}

.block {
  margin-top: 3.75rem;
}

.skills {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: -1.25rem;

  & figure {
    display: flex;
    flex-flow: column;
    align-items: center;
    margin: 1.25rem;

    & figcaption {
      padding-top: 0.625rem;
      font-weight: 600;
    }
  }

  & figure i {
    font-size: 4rem;
    color: $dark-2;
  }
}

.project__paragraph {
  margin-bottom: 1.25rem;
}

.project__img {
  height: 8.25rem;
  background-image: url('https://images.pexels.com/photos/270348/pexels-photo-270348.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0.625rem 0;

  &--vlade {
    background-image: url('https://i.imgur.com/BwqRnHD.png');
  }

  &--lumins {
    background-image: url('https://i.imgur.com/15cCWQw.png');
    background-position: center;
  }
}

.project__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;

  & i {
    font-size: 2rem;
    color: $dark-2;
    margin-right: 0.5rem;
  }
}

.project__buttons {
  display: flex;
  flex-direction: column;

  & a:first-of-type {
    margin-bottom: 0.625rem;
  }
}

.contact {
  display: flex;
  flex-wrap: wrap;
  margin: -1rem;
  margin-bottom: 2rem;

  & > * {
    margin: 1rem;
  }
}
