.container {
  max-width: 1300px;
  margin: 0 auto;
}

.header__container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 2fr 1fr 3fr;
  grid-template-areas: 
  ". . nav"
  ". . ."
  "logo . .";
}

.nav {
  grid-area: nav;
}

.logo {
  align-self: center;
  grid-area: logo;
}

.body-container {
  margin-top: 2rem;
}

.main-container {
  display: flex;
  flex-flow: column;
}

.heading {
  grid-area: title1;
  padding-left: 1.25rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 2rem;
  grid-row-gap: 3rem;
  align-items: start;
}

.card__container {
  padding: 1rem;
  display: flex;
  flex-flow: column;
}

.side-container {
  display: flex;
  flex-flow: column nowrap;
}