@media only screen and (max-width: $bp-max-desktop) {
  .container {
    width: 96%;
  }
}

@media only screen and (max-width: $bp-min-desktop) {

  .slide, .banner {
    background-size: cover;
  }
  .card-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .banner-container {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 14.5rem);
    grid-row-gap: 2rem;
  }
}

@media only screen and (max-width: $bp-max-tablet) {
  .card-grid {
    grid-template-columns: 1fr;
  }
}

@media only screen and (max-width: $bp-min-tablet) {
  .body-container {
    grid-template-columns: 1fr;
  }

  .card-grid {
    grid-template-columns: 1fr 1fr;
  }

  .mini-card__img-container, .event__img-container {
    width: 10%;
  }

  .side-container {
    margin-top: 2rem;
  }

  .newsletter__form {
    width: 90%;
    flex-direction: column;
  }

  .newsletter__input-container {
    margin-bottom: 1rem;
    margin-right: 0;
  }

  .menu--footer {
    flex-direction: column;
  }

  .menu__item--footer {
    margin-bottom: 2.5rem;
    margin-right: 0;
  }

  .menu__item--line {
    display: none;
  }
}

@media only screen and (max-width: $bp-min-phone) {

  .header {
    background-size: 200%;
  }

  .card-grid {
    grid-template-columns: 1fr;
    justify-items: center;
  }

  .card {
    width: 96%;
  }

  .mini-card {
    width: 100%;
  }

  .mini-card__img-container, .event__img-container {
    width: 16%;
  }

  .video-container {
    grid-template-columns: 1fr;
  }
}